In [2]:
import pandas as pd
from datetime import datetime
from pandas_datareader import data as web
import fix_yahoo_finance as yf

yf.pdr_override()

In [3]:
start = "2000-01-01"
end = datetime.today().strftime('%Y-%m-%d')

"""
Nasdaq: ^IXIC,
PHLX Semiconductor: ^SOX,
S&P 500: ^GSPC,
Dow Jones: ^DJI,
HANG SENG: ^HSI,
SHA 000001: 000001.SS,
NIKKEI: ^N225,
GERMAN DAX: ^GDAXI,
TAIPEI: ^TWII,
KOREA: ^KS11 
"""


markets = ("^GSPC", "^DJI")

In [4]:
allData = []
for market in markets:
    tw = web.get_data_yahoo(market, start = start, end = end)
    tw.rename(columns = {"Open" : "Open" + market,
                        "High" : "High" + market,
                        "Low" : "Low" + market,
                        "Close" : "Close" + market,
                        "Adj Close" : "AClose" + market,
                        "Volume" : "Volume" + market}, inplace = True)
    allData.append(tw)
power = pd.concat(allData, axis = 1)
power.reset_index(inplace = True)

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

In [5]:
power

,Date,Open^GSPC,High^GSPC,Low^GSPC,Close^GSPC,AClose^GSPC,Volume^GSPC,Open^DJI,High^DJI,Low^DJI,Close^DJI,AClose^DJI,Volume^DJI
0,1999-12-31,1464.47,1472.42,1458.19,1469.25,1469.25,374050000,11453.48,11542.41,11442.82,11497.12,11497.12,43620000
1,2000-01-03,1469.25,1478.00,1438.36,1455.22,1455.22,931800000,11501.85,11522.01,11305.69,11357.51,11357.51,169750000
2,2000-01-04,1455.22,1455.22,1397.43,1399.42,1399.42,1009000000,11349.75,11350.06,10986.45,10997.93,10997.93,178420000
3,2000-01-05,1399.42,1413.27,1377.68,1402.11,1402.11,1085500000,10989.37,11215.10,10938.67,11122.65,11122.65,203190000
4,2000-01-06,1402.11,1411.90,1392.10,1403.45,1403.45,1092300000,11113.37,11313.45,11098.45,11253.26,11253.26,176550000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5329,2021-03-09,3851.93,3903.76,3851.93,3875.44,3875.44,5496340000,31892.35,32150.32,31822.64,31832.74,31832.74,458690000
5330,2021-03-10,3891.99,3917.35,3885.73,3898.81,3898.81,5827250000,31906.96,32389.50,31906.96,32297.02,32297.02,409110000
5331,2021-03-11,3915.54,3960.27,3915.54,3939.34,3939.34,5300010000,32354.50,32661.59,32345.70,32485.59,32485.59,400020000
5332,2021-03-12,3924.52,3944.99,3915.21,3943.34,3943.34,4469240000,32462.40,32793.32,32462.40,32778.64,32778.64,346400000
5333,2021-03-15,3942.96,3949.99,3923.54,3943.02,3943.02,1204291308,32798.84,32931.06,32629.75,32811.78,32811.78,180939612

In [7]:
power.to_csv("./index_data/near_20_years.csv", index=False)